.bgPrimary {
  background: #ffffff;
  color: white;
  width: 100%;
}
.bgSecondary {
  background:  #0e6d36;
  width: 90%;
  height: 100px;
  color: white;
}
.btn-primary {
  background: #51bfd0;
  margin-top: 20px;
  border: none;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 20px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
}
.navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #6d7a83 0%, #6d626e 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

#main-nav {
  list-style-type: none;
  display: none;
  float: left;
}

#main-nav li {
  margin: 15px auto;
  float: left;
}

.nav-links,
#logo {
  text-decoration: none;
  color: rgba(4, 255, 79, 0.7);
}

#logo:hover,
.nav-links:hover {
  color: rgba(255, 255, 255, 1);
}

#logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}
.affiche{
  width: 100%; background-color: #B8B8B8; border-radius: 5px; height: 550px;
}
#navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.904);
  font-size: 24px;
}

#navbar-toggle:hover {
  color: rgba(255, 255, 255, 1);
}


 /*debut style tableau */
table{
            width: 100%;
        }
        td{
      width: 300px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: bold;
          text-align: center;
        }
        .scroll{
          max-height: 300px;
          display: block;
          overflow-y: auto;
          font-size: 25px;
        }
        .scroll td, .scrool th{
          text-align: center;
        }
        h2{
            background-color: green;
        }
        tr:nth-child(event){background-color: #181b2f}
        tr:nth-child(odd){background-color: gray}
 /*fin du style tableau  */ 


 /* style enregistrer etudiant */
 h2{
  text-align: center;
 background-color: green;
}
input{
 width: 90%;
 display: block;
 margin-bottom: 1%;
}
label{
 display: block;
}
 /* fin style enregistrer chambre */ 
@media screen and (min-width: 768px) {

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  #main-nav {
    display: flex !important;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  #main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  #logo {
    margin-top: 0;
  }

  #navbar-toggle {
    display: none;
  }

} 